body {
            margin: 0;
            font-family: Arial, sans-serif;
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }

        .modal {
            background: white;
            border-radius: 8px;
            text-align: center;
        }

        .top-text {
                        color: #3D3D3D;
            font-family: "Cera Pro";
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px; /* 80% */
        }

        .top-text span {
                        color: #46A358;
            font-family: "Cera Pro";
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px; /* 80% */
        }

        p {
                    color: #3D3D3D;
        font-family: "Cera Pro";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 123.077% */
        text-align: left;
        }

        form {
            margin-top: 20px;
        }

        input {
            width: 100%;
            padding: 12px;
            margin: 10px 0;
            border: 1px solid #ddd;
            border-radius: 6px;
            font-size: 14px;
        }

        button {
            width: 100%;
            padding: 12px;
            margin-top: 10px;
            border: none;
            border-radius: 6px;
            font-size: 16px;
            cursor: pointer;
        }

        .register-btn {
                        border-radius: 5px;
            background: #46A358;
            
        }

        .p-regist {
                        color: #3D3D3D;
            font-family: "Cera Pro";
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px; /* 123.077% */
            text-align: center;
        }

        .social-btn {
            background: white;
            border: 1px solid #ddd;
            margin-top: 10px;
        } 
        
@keyframes loader-spin {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}

.loader {
    width: 312px;
    height: 312px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
}

.loader-spinner {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.loader-spinner div {
    box-sizing: border-box;
}

.loader-spinner > div {
    position: absolute;
    width: 212px;
    height: 212px;
    top: 50px;
    left: 50px;
    border-radius: 50%;
    border: 12px solid #000;
    border-color: #cff487 transparent #557c09 transparent;
    animation: loader-spin 1.8s linear infinite;
}

.loader-spinner > div:nth-child(2),
.loader-spinner > div:nth-child(4) {
    width: 181px;
    height: 181px;
    top: 66px;
    left: 66px;
    animation: loader-spin 1.8s linear infinite reverse;
}

